#cars-container {
  margin-top: 15vh;
}

.text {
  margin-bottom: 5rem;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #252525;
  color: var(--white);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px;
}

.circle-design {
  background-color: var(--main-green);
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: relative;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 83%;
  height: 83%;
  object-fit: cover;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.horizontal-line {
  width: 70%;
  height: 2px;
  border: none;
  background-color: var(--main-green);
  margin: 0;
}

.icon-container {
  width: 40px;
  border: 2px solid var(--icon-color);
  border-radius: 100px;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-car-container {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs-container {
  background-color: rgb(50, 50, 50, 0.3);
  padding: 3rem;
  border-radius: 0.5rem;
}

.add-car-btn {
  background-color: var(--main-green);
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.2s ease-in;
}

.add-car-btn:hover {
  background-color: var(--btn-hover-main-green);
}

@media (width <= 992px) {
  .form-container {
    padding: 1rem;
  }

  .form-inputs-container {
    width: 100% !important;
    padding: 1.5rem;
  }
}
